:root {
  --gray-000: #FFFFFF;
  --gray-050: #F2F2F2;
  --gray-100: #FAFAFA;
  --gray-200: #F5F5F5;
  --gray-300: #EDEDED;
  --gray-400: #E5E5E5;
  --gray-500: #CDCDCD;
  --gray-600: #A8A8A8;
  --gray-700: #747474;
  --gray-800: #393939;
  --gray-900: #000000;
  --red-050: #FFF7F6;
  --red-100: #FFEDEB;
  --red-200: #FFE0DB;
  --red-300: #FFD3C9;
  --red-400: #FFB7A4;
  --red-500: #FF9574;
  --red-600: #FF6E3C;
  --red-700: #FF4500;
  --red-800: #AA2E00;
  --red-900: #541600;
  --green-050: #F4FFF4;
  --green-100: #E9FFE8;
  --green-200: #D9FFD8;
  --green-300: #C9FFC7;
  --green-400: #A6FFA3;
  --green-500: #7CF178;
  --green-600: #51DA4C;
  --green-700: #3FA93B;
  --green-800: #2D712A;
  --green-900: #193718;
  --blue-050: #F4FBFF;
  --blue-100: #E5F1FF;
  --blue-200: #CBDCFF;
  --blue-300: #AFC1FF;
  --blue-400: #7989FF;
  --blue-500: #3C46FF;
  --blue-600: #0000FF;
  --blue-700: #0404AC;
  --blue-800: #020267;
  --blue-900: #00002E;
  --cyan-050: #F0FFFF;
  --cyan-100: #E0FFFF;
  --cyan-200: #CAFFFF;
  --cyan-300: #B3FFFF;
  --cyan-400: #82FFFF;
  --cyan-500: #42FFFF;
  --cyan-600: #00FFFF;
  --cyan-700: #00E7E7;
  --cyan-800: #00B3B3;
  --cyan-900: #005454;
  --yellow-050: #FFFFDB;
  --yellow-100: #FFFFB6;
  --yellow-200: #FFFF8F;
  --yellow-300: #FFFF66;
  --yellow-400: #FFF639;
  --yellow-500: #F5E60D;
  --yellow-600: #CFC52C;
  --yellow-700: #A19A3A;
  --yellow-800: #6C6837;
  --yellow-900: #343322;
  --magenta-050: #FFF9FF;
  --magenta-100: #FFF2FF;
  --magenta-200: #FFD7FF;
  --magenta-300: #FFC1FF;
  --magenta-400: #FF8BFF;
  --magenta-500: #FF45FF;
  --magenta-600: #FF00FF;
  --magenta-700: #C500C5;
  --magenta-800: #830083;
  --magenta-900: #400040;
  --orange-050: #FFFCF5;
  --orange-100: #FFF9EA;
  --orange-200: #FFF1D6;
  --orange-300: #FFE8C1;
  --orange-400: #FFC98A;
  --orange-500: #FFA045;
  --orange-600: #FE7600;
  --orange-700: #C45600;
  --orange-800: #833600;
  --orange-900: #401900;
  --violet-050: #FFF9FF;
  --violet-100: #FFF2FF;
  --violet-200: #FEE6FF;
  --violet-300: #FCDAFF;
  --violet-400: #EBBBFF;
  --violet-500: #D292FF;
  --violet-600: #B161FD;
  --violet-700: #8A2BE2;
  --violet-800: #571397;
  --violet-900: #28044A;
  --brown-050: #F7ECE6;
  --brown-100: #F0DACF;
  --brown-200: #E8C7B6;
  --brown-300: #E1B59F;
  --brown-400: #CB9379;
  --brown-500: #B67252;
  --brown-600: #A0522D;
  --brown-700: #793A1C;
  --brown-800: #51230D;
  --brown-900: #2A1003;
}